<section>
    <div class="d-flex justify-content-between header row m-3">
        <div class="proyects col-lg-5" routerLink="diseños">
            <h2 class="textCenter">Diseños de UX</h2>
            <div>
                <img class="m-4" src="../../../assets/img/EnTuZona.png">
                <img class="m-4" src="../../../assets/img/Codifica.png">
            </div>
        </div>
        <div class="proyects col-lg-5" routerLink="proyectos">
            <h2 class="textCenter">proyectos en github</h2>
            <div>
                <img class="m-4" src="../../../assets/img/Banki1.jpg">
                <img class="m-4" src="../../../assets/img/banki3.jpg">
                <img class="m-4" src="../../../assets/img/GaleriaDelTenedor1.png">
            </div>
        </div>
    </div>
</section>