<section>
    <div class="d-flex justify-content-between header row m-5">
        <div class="proyects col-5" routerLink="diseños">
            <h2 class="textCenter">Diseños de UX</h2>
            <div>
                <img class="m-4" src="../../../assets/img/EnTuZona.png">
                <img class="m-4" src="../../../assets/img/Codifica.png">
            </div>
        </div>
        <div class= "proyects col-5">
            <h2 class="textCenter">Proyectos</h2>
        </div>
      </div>
</section>