
.proyect{
    background-color: #c5e6e4;
    border: 1px solid;
    align-items: center;
   
    border-radius: 25px ;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    .imgBtn{
        display:flex;
        .btnColumn{
            display:block
        }
    }
    img{
        max-width: 35vw;
        max-height: 25vh; 
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    }
    button{
        font-weight:550;
        align-items: center;
    }
}
