<section>
  <div class="row m-5 ">
    <div class="col-12">
      <div class="d-flex flex-wrap" >
          <div class="proyect">
              <div class="mx-5 my-3">
                <h3 class="proyect-title ">En tu zona</h3>
                <p>Diseño en el que tenemos una aplicacion en la que los usuarios tendrian la
                    posibilidad de buscar establecimientos cercanos, sea por nombre o por categoria
                    de establecimiento
                </p>
                <div class="imgBtn">
                  <img class=mx-4 src="../../../assets/img/EnTuZona1.png"> 
                  <img class=mx-4 src="../../../assets/img/EnTuZona2.png"> 
                  <img class=mx-4 src="../../../assets/img/EnTuZona3.png"> 
                  <div class="btnColumn mx-4">
                    <button class="proyectButton my-3" onclick="window.open('https://www.figma.com/proto/XGx9EOVVboCYt179M77QJ1/Untitled?type=design&node-id=37-481&t=J7XI5sWqzQsZRI5F-1&scaling=scale-down&page-id=37%3A2&starting-point-node-id=37%3A481&show-proto-sidebar=1&mode=design', '_blank')"><p class="m-2">Probar prototipo</p></button>
                    <button class="proyectButton my-3"  onclick="window.open('https://drive.google.com/file/d/1iND7yyJk2s-g206Aw2fTCtCw-2OtYaMV/view?usp=sharing', '_blank')"><p class="m-2">PDF del caso practico</p></button>
                  </div>
                </div>
              </div>
          </div>
      </div>
    </div>
  </div>
  <div class="row m-5 ">
    <div class="col-12">
      <div class="d-flex flex-wrap" >
          <div class="proyect">
              <div class="mx-5 my-3">
                <h3 class="proyect-title ">We watch</h3>
                <p>Diseño en el que tenemos una aplicacion movil en la que los usuarios Podran
                  Ver informacion sobre peliculas, y tambien podran publicar y ver comentarios
                  de otros usuarios
                </p>
                <div class="imgBtn">
                  <img class=mx-4 src="../../../assets/img/WeWatch1.png"> 
                  <img class=mx-4 src="../../../assets/img/WeWatch2.png"> 
                  <img class=mx-4 src="../../../assets/img/WeWatch3.png"> 
                  <img class=mx-4 src="../../../assets/img/WeWatch4.png"> 
                  <img class=mx-4 src="../../../assets/img/WeWatch5.png"> 
                  <img class=mx-4 src="../../../assets/img/WeWatch6.png"> 
                  <div class="btnColumn mx-2">
                    <button class="proyectButton my-3" onclick="window.open('https://www.figma.com/proto/fBXxsNxd09Oh110gONBvxN/Untitled?type=design&node-id=87-28&t=glcGtVE9kHTXehGu-0&scaling=min-zoom&page-id=87%3A27', '_blank')"><p class="m-2">Probar prototipo</p></button>
                    <button class="proyectButton my-3" onclick="window.open('https://drive.google.com/file/d/1Lae7WgW5VF9MelOXoru3VYhAfQRJoIR-/view?usp=sharing', '_blank')"><p class="m-2">PDF del caso practico</p></button>
                  </div>
                </div>
              </div>
          </div>
      </div>
    </div>
  </div>
  <div class="row m-5 ">
    <div class="col-12">
      <div class="d-flex flex-wrap" >
          <div class="proyect">
              <div class="mx-5 my-3">
                <h3 class="proyect-title ">Codifica</h3>
                <p>Diseño en el que tenemos una aplicacion en la que los usuarios tendrian la
                  posibilidad de aprender a realizar aplicaciones y paginas web, todo dividido en
                  pequeñas lecciones y ejercicios
                </p>
                <div class="imgBtn">
                  <img class=mx-4 src="../../../assets/img/codifica1.png"> 
                  <img class=mx-4 src="../../../assets/img/codifica2.png"> 
                  <img class=mx-4 src="../../../assets/img/codifica3.png"> 
                  <div class="btnColumn mx-4">
                    <button class="proyectButton my-3" onclick="window.open('https://www.figma.com/proto/tsknNJg1UPTMJspOjjtfY9/Untitled?type=design&node-id=40-8&t=UZQVyuvMnyhJuyes-1&scaling=min-zoom&page-id=29%3A2&starting-point-node-id=40%3A8&show-proto-sidebar=1&mode=design', '_blank')"><p class="m-2">Probar prototipo</p></button>
                    <button class="proyectButton my-3" onclick="window.open('https://drive.google.com/file/d/1MbRSCerhwaM9qN-0T8PEbg_EKmpCI8PC/view?usp=sharing', '_blank')"><p class="m-2"><p class="m-2">PDF del caso practico</p></button>
                  </div>
                </div>
              </div>
          </div>
      </div>
    </div>
  </div>
</section>
  