<header>
    <div class="d-flex justify-content-between header row">
      <div class="d-flex col-4" >
        <h1 class="mx-3 mt-2 text" style="text-decoration: underline">Brian Acosta Benitez</h1>
      </div>
      <div id="proyects" class= "col-4">
        <button class="proyectButton mr-5">
            <p class="m-1">Programacion</p>
        </button> 
        <button class="proyectButton mr-5 ">
            <p class="m-1">Diseño UX</p>
        </button> 
        <a class="mx-3 mt-2" href="https://github.com/DevBrianAcostaBenitez?tab=repositories"><img src="../../../assets/img/git.png"></a>
        <a class="mx-3 mt-2" href="https://www.linkedin.com/in/dev-brian-acosta-benitez/"><img src="../../../assets/img/linkedin.png"></a>
      </div>
    </div>
</header>
  