
<div class="header">
  <div class="justify-content-between row">
    <div class="col-lg-8" >
      <h1 class="mx-3 mt-2 text">Brian Acosta Benitez</h1>
    </div>
    <div id="proyects" class= "col-lg-3">
      <a class="mx-3 my-2" href="https://github.com/DevBrianAcostaBenitez?tab=repositories" target="_blank"><img src="./assets/img/git.png"></a>
      <a class="mx-3 my-2" href="https://www.linkedin.com/in/dev-brian-acosta-benitez/" target="_blank"><img src="./assets/img/linkedin.png"></a>
      <a class="mx-3 my-2" href="https://www.canva.com/design/DAF2C1W7Cho/xdg2Y2Vs6pN5Wbfi34Lgyg/edit?utm_content=DAF2C1W7Cho&utm_campaign=designshare&utm_medium=link2&utm_source=sharebutton" target="_blank"><img src="./assets/img/Cv.png"></a>
    </div>
  </div>
  <div class="profession text text-center row">
    <div class="col-12">
      <h3>Diseño ux y desarrollo aplicaciones web y multiplataforma</h3>
    </div>
  </div>
</div>