<section>
  <div class="row mx-5 my-3">
    <button class="proyectButton my-3 col-sm-11 col-md-6 col-lg-3" (click)="navigateToDesigns()">
      <p class="m-2">Diseños de UX</p>
    </button>
  </div>
  <div class="row m-5 ">
    <div class="col-12">
      <div class="d-flex flex-wrap" >
          <div class="proyect">
              <div class="mx-5 my-3">
                <h3 class="proyect-title ">Banki</h3>
                <p>Una aplicacion que simula operaciones bancarias, no se usa dinero real.
                  podemos hacer ingresos, retiros, transferencias, solicitar tarjetas de credito y cancelarlas, establecimiento.
                  Se realizo con kotlin y se usa la base de datos no relacional Firebase
                </p>
                <div class="imgBtn row">
                  <div class="col-md-11 col-lg-9 images">
                    <img class="mx-4" src="./assets/img/Banki1.jpg" (click)="openLinkInNewTab('../../../assets/img/Banki1.jpg')"> 
                    <img class="mx-4" src="./assets/img/banki2.jpg" (click)="openLinkInNewTab('../../../assets/img/banki2.jpg')"> 
                    <img class="mx-4" src="./assets/img/banki3.jpg" (click)="openLinkInNewTab('../../../assets/img/banki3.jpg')"> 
                    <img class="mx-4" src="./assets/img/banki4.jpg" (click)="openLinkInNewTab('../../../assets/img/banki4.jpg')"> 
                    <img class="mx-4" src="./assets/img/banki5.jpg" (click)="openLinkInNewTab('../../../assets/img/banki5.jpg')"> 
                    <img class="mx-4" src="./assets/img/banki6.jpg" (click)="openLinkInNewTab('../../../assets/img/banki6.jpg')"> 
                  </div>
                  <div class="btnColumn mx-1 col-md-11 col-lg-2">
                    <button class="proyectButton my-3" (click)="openLinkInNewTab('https://github.com/DevBrianAcostaBenitez/Banki')"><p class="m-2">Ver en Github</p></button> 
                  </div>
                </div>
              </div>
          </div>
      </div>
    </div>
  </div>
  <div class="row m-5 ">
    <div class="col-12">
      <div class="d-flex flex-wrap" >
          <div class="proyect">
              <div class="mx-5 my-3">
                <h3 class="proyect-title ">Galeria del tenedor</h3>
                <p>(No esta terminado pero la mayoria de funciones estan implementadas.) Una aplicacion web en la que podemos introducir recetas para su posterior consulta.
                  Usa una base de datos MySQL, y esta siendo realizada usando angular y javascript para el front-end
                  para el backend Springboot y java. No esta terminado pero la mayoria de funciones estan implementadas.
                </p>
                <div class="imgBtn row">
                  <div class="col-md-11 col-lg-9 images">
                    <img class="mx-4" src="./assets/img/GaleriaDelTenedor1.png" (click)="openLinkInNewTab('../../../assets/img/GaleriaDelTenedor1.png')"> 
                    <img class="mx-4" src="./assets/img/GaleriaDelTenedor2.png" (click)="openLinkInNewTab('../../../assets/img/GaleriaDelTenedor2.png')"> 
                    <img class="mx-4" src="./assets/img/GaleriaDelTenedor3.png" (click)="openLinkInNewTab('../../../assets/img/GaleriaDelTenedor3.png')"> 
                  </div>
                  <div class="btnColumn mx-1 col-md-11 col-lg-2">
                    <button class="proyectButton my-3" (click)="openLinkInNewTab('https://github.com/DevBrianAcostaBenitez/Galeria-del-tenedor')"><p class="m-2">Ver en Github</p></button>
                  </div>
                </div>
              </div>
          </div>
      </div>
    </div>
  </div>
</section>
